@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #FEFBD8;
    --text-color: #000;
}


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Sora';
}
  

@keyframes rotateYIn {
    from {
      transform: rotateY(90deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
  
  @keyframes rotateYOut {
    from {
      transform: rotateY(0deg);
      opacity: 1;
    }
    to {
      transform: rotateY(90deg);
      opacity: 0;
    }
  }
  
  .rotate-y-in {
    animation: rotateYIn 0.3s forwards;
  }
  
  .rotate-y-out {
    animation: rotateYOut 0.3s forwards;
  }



  .slide-left {
    animation: slideLeft 0.3s ease-in-out forwards;
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .slide-right {
    animation: slideRight 0.3s ease-in-out forwards;
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  
  